* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 16px;
  background-color: hsl(234, 29%, 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
main {
  gap: 50px;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  border-radius: 20px;
  background-color: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 40%;
  /* align-items: center; */
}
.one h1 {
  font-size: 40px;
  color: hsl(234, 29%, 20%);
}
.one > p {
  line-height: 1.6rem;
}
.updatesOn {
  line-height: 1.6rem;
}
.updatesOn > p {
  padding-left: 30px;
  position: relative;
  color: hsl(235, 18%, 26%);
}
.updatesOn > p::after {
  content: "";
  background-image: url(./assets/images/icon-list.svg);
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}
label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.EmailAddress {
  display: flex;
  justify-content: space-between;
}
.EmailAddress p {
  font-size: 15px;
}
.EmailAddress p:not(.Proplem) {
  color: hsl(234, 29%, 20%);
  font-weight: 700;
}
.Proplem {
  color: red;
  display: none;
}
.updatesOn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input {
  padding: 15px 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: solid 1px hsl(231, 7%, 60%);
  outline-color: hsl(231, 7%, 60%);
}
main button {
  padding: 10px 0;
  outline: 0;
  border: 0;
  color: white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: hsl(234, 29%, 20%);
  cursor: pointer;
}
main button:active {
  background-image: linear-gradient(
    to right,
    hsl(4, 100%, 67%) 50%,
    rgb(216, 72, 72)
  );
}
.subscribing {
  display: none;
  /* display: flex; */
  flex-direction: column;
  gap: 20px;
}
.subscribing h2 {
  font-size: 40px;
  color: hsl(234, 29%, 20%);
}
.subscribing img {
  width: 50px;
}
.subscribing span {
  color: hsl(234, 29%, 20%);
  font-weight: 700;
}
.illustrationSign {
  display: none;
}

.subscribing {
  width: 300px;
}
@media screen and (max-width: 700px) {
  .illustration {
    display: none;
  }
  .illustrationSign {
    display: block;
  }
  body {
    display: block;
  }
  main {
    height: 100%;
    flex-direction: column;
    padding: 0;
    border-radius: 0;
    justify-content: normal;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    gap: 15px;
  }
  main .one {
    width: 100%;
    padding: 10px 20px;
    max-width: 100%;
  }
  .subscribing {
    width: 100%;
    height: 100%;
    margin-top: 140px;
    padding: 10px 20px;
  }

  .Dismiss {
    position: absolute;
    bottom: 87px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 90%;
  }
}
/* *:not(.subscribing) {
  color: red;
  display: none;
  background-color: red;
} */

/* 
- Tomato: hsl(4, 100%, 67%)
- Dark Slate Grey: hsl(234, 29%, 20%)
- Charcoal Grey: hsl(235, 18%, 26%)
- Grey: hsl(231, 7%, 60%)
- White: hsl(0, 0%, 100%)
*/
